<div class="container">
    <div class="top-row">
        <mat-card class="precipitation">
            <mat-card-header>
                <mat-card-title>Precipitation</mat-card-title>
                <mat-card-subtitle>{{precipitation}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="cloudcover">
            <mat-card-header>
                <mat-card-title>Cloud Cover</mat-card-title>
                <mat-card-subtitle>{{cloudcover}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="pressure">
            <mat-card-header>
                <mat-card-title>Pressure</mat-card-title>
                <mat-card-subtitle>{{pressure}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="humidity">
            <mat-card-header>
                <mat-card-title>Humidity</mat-card-title>
                <mat-card-subtitle>{{humidity}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="charts">
        <mat-card>
            <canvas id="lineChart"></canvas>
        </mat-card>
        <mat-card>
            <canvas id="barChart"></canvas>
        </mat-card>
    </div>
</div>