<div class="container background-img">

    <!-- Search Field -->
    <form class="search-form">
        <mat-form-field class="half-width" appearance="outline">
            <mat-label>Choose a City</mat-label>
            <input type="text" aria-label="city" matInput [formControl]="cityName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCityChange($event)">
                <mat-option *ngFor="let cityOptions of filteredOptions | async" [value]="cityOptions">
                    {{cityOptions}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>

    <!-- Current city information -->
    <mat-card class="current-card">
        <mat-card-header>
            <mat-card-title>{{currCityName}}</mat-card-title>
            <mat-card-subtitle>{{temperature}} °C | {{ weatherCondition }} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <!-- Weekly forcast  -->
    <mat-card class="current-card">
        <mat-list>
            <div mat-subheader>Upcoming Forcast</div>
            <mat-list-item *ngFor="let weather of weatherForecast" (click)="callDetailsPage(weather.day)">
                <div matListItemTitle>{{weather.day}}</div>
                <div matListItemLine>{{weather.weatherCode}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card>

</div>