.half-width {
    width: 50%;
}

.current-card {
    margin-bottom: 10px !important;
    max-width: 400px;
    margin: 0 auto;
}

.mat-card-header-text {
    margin: 0 auto !important;
}

.mat-toolbar-row {
    background-color: cadetblue;
}

.text-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.mat-list-item-content {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}